.form-button {
  border: 1px solid plum;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button:hover {
    background-color: plum;
}
