.chat-input {
    width: 98%;
    height: 15%;
    border: black 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chat-input__field {
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: lightpink;
}

.chat-input__button {
    height: 80%;
}