.chat-message {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
  padding-right: 7px;
  max-width: 80%;

  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.chat-message__container-left {
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 10px;
  border-radius: 7px;
}

.chat-message__container-right {
  display: flex;
  align-items: center;
  background-color: white;
  margin-right: 10px;
  border-radius: 7px;
}

.chat-message__header {
  font-weight: bold;
  text-align: left;
}

.chat-message__body {
  text-align: left;
}

.chat-item__hero {
  display: flex;
  justify-content: end;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.chat-item__npc {
  display: flex;
  justify-content: start;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
