.chat-message {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
  padding-right: 7px;
  max-width: 80%;
}

.chat-message__container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 7px;
}

.chat-message__header {
  font-weight: bold;
  text-align: left;
}

.chat-message__body {
  text-align: left;
}

.chat-item__hero {
  display: flex;
  justify-content: end;
  padding: 10px;
  width: 97%;
}

.chat-item__npc {
  display: flex;
  justify-content: start;
  padding: 10px;
  width: 97%;
}
