@mixin flex-properties($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.chat-message {
  @include flex-properties(column, null, null);
  padding-left: 7px;
  padding-right: 7px;
  max-width: 80%;

  @media (max-width: 767px), (max-width: 767px) and (orientation: landscape) {
    font-size: 12px;
  }
}

.chat-message__container-left {
  @include flex-properties(row, null, center);
  background-color: white;
  margin-left: 10px;
  border-radius: 7px;
}

.chat-message__container-right {
  @include flex-properties(row, null, center);
  background-color: white;
  margin-right: 10px;
  border-radius: 7px;
}

.chat-message__header {
  font-weight: bold;
  text-align: left;
}

.chat-message__body {
  text-align: left;
}

.chat-item__hero {
  @include flex-properties(row, end, null);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.chat-item__npc {
  @include flex-properties(row, start, null);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
