.popover-main {
    background-color: plum;
    border: black solid 1px;
    border-radius: 10px;
    padding: 5px;
}

.popover-header {
    text-align: center;
}

.text-confirm {
    width: 50%;
    color: black;
    border: plum solid 1px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}