.general-field {
  width: 100%;
  height: 80%;
  background: linear-gradient(to top left, powderblue, pink);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-field {
  width: 98.8%;
  height: 98%;
  background: plum;
  border-radius: 10px;
  overflow: hidden auto;
}

.blank-field {
  width: 98.8%;
  height: 98%;
  background: plum;
  border-radius: 10px;
  text-align: center;
  line-height: 12;
  font-size: 30px;
}

.chat-field::-webkit-scrollbar {
  display: none;
}

.chat-body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
