@mixin input-styles($width, $height, $display, $justify-content, $align-items) {
  width: $width;
  height: $height;
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.general__chat-input {
  @include input-styles(100%, 15%, flex, center, center);
  background: linear-gradient(to top left, powderblue, pink);
  border-radius: 10px;

  @media (max-width: 450px) {
    height: 10%;
  }
}

.chat-input {
  @include input-styles(98.8%, 90%, flex, space-around, center);
  background: plum;
  border-radius: 10px;
}

.chat-input__field {
  @include input-styles(85%, 80%, null, null, null);
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: plum;
  font-size: 16px;
}
