.main-user {
  width: 260px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-user__info {
  width: 100px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
