.user-item {
    width: 90%;
    height: 10%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-online {
    width: 90%;
    height: 10%;
    background-color: lightgreen;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}