.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    position: relative;
}

.central {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: inherit;
    position: relative;
}