.entry-logo {
  font-size: 120px;
  transform: rotate(-20deg);
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;

  @media (max-width: 1023px) {
    font-size: 90px;
  }
  @media (max-width: 767px) {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  @media (max-width: 450px) {
    margin-top: 80px;
    font-size: 70px;
  }
  @media (max-width: 950px) and (orientation: landscape) {
    margin-top: 0;
  }
  @media (max-width: 950px) and (max-height: 400px) and (orientation: landscape) {
    font-size: 70px;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
